<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>GreenEYE</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="./static/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./static/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="./static/responsive.css" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-11 offset-lg-1">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <img src="./static/camera-drone.png" alt="">
                <span>
                  GreenEYE
                </span>
              </a>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                     
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Sense Now !</a>
                
                  </ul>
                 
                </div>

              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1 ">
                  <div class="detail_box">
                    <h1>
                      Remote Sensing <br>
                      with Pure Image Processing
                    </h1>
                    <p>
                      Digital image processing may involve numerous procedures including formatting and correcting of the data, digital enhancement to facilitate better visual interpretation, or even automated classification of targets and features entirely by computer.
                    </p>
                    
                  </div>
                </div>
                <div class="col-md-6 px-0">
                  <div class="img-box">
                    <img src="./static/dronetran.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
       
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2 style="position: relative; bottom:500px;">
          About GreenEYE
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="./static/jk.png" style="height:450px;width:400px;position:relative;right:65px;bottom:500px;" alt="">
          <div class="about_img-bg">
            <img src="./static/about-img-bg.png" alt="">
          </div>
        </div>
        <div class="detail-box" style="position:relative;bottom:400px;">
          <p>
            GreenEYE uses pure Image Processing using few technical algorithms. Binary Thresholding, Otsu Thresholding, Canny Edge Detection, Structured Edge Detection, Sobel Edge Detection, Watershed Algorithm, Distance Transformation and HSV MinMax 
          </p>
          <div>
            <a href="/login">
              Sense Now !
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end about section -->

  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Implementation
        </h2>
        <p>
          Successful Implementation of GreenEYE
        </p>
      </div>
      <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="./static/check.png" alt="">
            <div class="btn-box">
              <a href="" class="btn-1">

              </a>
            </div>
          </div>
          <div class="img-box b-2">
            <img src="./static/aerialpalm.jpeg" alt="">
            <div class="btn-box">
              <a href="" class="btn-1">

              </a>
            </div>
          </div>
        </div>
        <div class="box-2">
          <div class="box-2-top">
            <div class="img-box b-3">
              <img src="./static/papaya.jpeg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
          </div>
          <div class="box-2-top2">
            <div class="img-box b-4">
              <img src="./static/palmoil.jpeg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
          </div>
          <div class="box-2-btm">
            <div class="img-box b-5">
              <img src="./static/overall.jpeg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
            <div class="img-box b-6">
              <img src="./static/kelapa.jpeg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      


  <script type="text/javascript" src="./static/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="./static/bootstrap.js"></script>

</body>

</html>